#mapa{
    margin: 100px;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
}

#contacto span{
    font-weight: bold;
}

