<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono barra navegador -->
    <link rel="icon" href="../assets/img/icono_luistech_2.png" type="image/x-icon">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="../css/aviso_legal.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!-- Barra Navegación-->
    <nav>
        <img src="../assets/img/LuisTech_2.png" alt="Logo_Empresa" id="logo_empresa" width="180" height="5">        
        <div class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/presupuesto.html">Presupuesto</a>
            <a href="../views/contacto.html">Contacto</a>
        </div>
    </nav>

    <!-- Sección Aviso Legal -->
    <header id="aviso_legal">
        <h1>Aviso Legal</h1>
    </header>
    <main id="texto">
        <section>
            <h2>Información General</h2>
            <p>Este sitio web es propiedad de LuisTech, con domicilio en C. Bari, 4, 50197 Zaragoza, España.</p>
        </section>
        <section>
            <h2>Condiciones de Uso</h2>
            <p>El uso de este sitio web implica la aceptación de las siguientes condiciones:</p>
            <ul>
                <li>El contenido de este sitio web es solo para su información general y uso.</li>
                <li>Nos reservamos el derecho de modificar el contenido sin previo aviso.</li>
                <li>El uso de cualquier información o material en este sitio web es bajo su propio riesgo.</li>
            </ul>
        </section>
        <section>
            <h2>Propiedad Intelectual</h2>
            <p>Todo el contenido de este sitio web, incluyendo textos, gráficos, logotipos, imágenes y software, es propiedad de LuisTech o de sus licenciantes y está protegido por las leyes de propiedad intelectual.</p>
        </section>
        <section>
            <h2>Protección de Datos</h2>
            <p>LuisTech se compromete a proteger su privacidad. Consulte nuestra <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Política de Privacidad</a> para obtener más información.</p>
        </section>
        <section>
            <h2>Contacto</h2>
            <p>Si tiene alguna pregunta sobre este aviso legal, puede contactarnos en contacto@luistech.com</p>
        </section>
    </main>

    <!-- Sección Footer -->
    <footer>
        <div id="footer-contenido">
            <div id="redes-sociales">
                <a href="https://www.facebook.com" target="_blank"><img src="../assets/icons/facebook.png" alt="Facebook" width="45" height="45"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="../assets/icons/twitter.png" alt="Twitter" width="45" height="45"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="../assets/icons/instagram.png" alt="Instagram" width="45" height="45"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="../assets/icons/linkedin.png" alt="LinkedIn" width="45" height="45"></a>
                <a href="https://maps.app.goo.gl/9bQyX8vTD6aa91fb9" target="_blank"><img src="../assets/icons/google_maps.png" alt="Google_Maps" width="45" height="45"></a>
            </div>
            
            <div id="datos-empresa">
                <p>Dirección: C. Bari, 4, 50197 Zaragoza, España</p>
                <p>Teléfono: +34 123 456 789</p>
                <p>Email: contacto@luistech.com</p>
            </div>
            <div id="aviso-legal">
                <a href="../views/aviso_legal.html">Aviso Legal</a>
            </div>
        </div>
    </footer>
</body>
</html>
