<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuisTech - Innovación y Soluciones Tecnológicas</title>
    <!-- Icono barra navegador -->
    <link rel="icon" href="../assets/img/icono_luistech_2.png" type="image/x-icon">
    <!-- Enlace a los estilos generales -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Enlace a los estilos productos -->
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="../css/lightbox.css">
</head>
<body>

    <!-- Barra Navegación-->
    <nav>
        <img src="../assets/img/LuisTech_2.png" alt="Logo_Empresa" id="logo_empresa" width="180" height="5">
        <div class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html" class="active">Productos</a>
            <a href="../views/presupuesto.html">Presupuesto</a>
            <a href="../views/contacto.html">Contacto</a>
        </div>
    </nav>

    
    <!-- Galeria de Productos-->
    <header>
        <h1>Productos de Tecnología de Vanguardia</h1>
    </header>
    <main>
        <section class="galeria">
            <h2>Inteligencia Artificial (IA)</h2>
            <table>
                <tr>
                    <td>
                        <a href="../assets/img/productos/IA_01.jpg" data-lightbox="galeria" data-title="NVIDIA DGX A100: Plataforma de IA para entrenamiento y inferencia de modelos avanzados">
                            <img src="../assets/img/productos/IA_01.jpg" alt="NVIDIA DGX A100" class="imagen" width="630" height="354">NVIDIA DGX A100
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/IA_02.jpg" data-lightbox="galeria" data-title="Google Coral Dev Board: Placa de desarrollo para aplicaciones de IA en el borde">
                            <img src="../assets/img/productos/IA_02.jpg" alt="Google Coral Dev Board" class="imagen" width="800" height="800">Google Coral Dev Board
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/IA_03.jpg" data-lightbox="galeria" data-title="Intel Neural Compute Stick 2: Dispositivo portátil para acelerar aplicaciones de IA">
                            <img src="../assets/img/productos/IA_03.jpg" alt="Intel Neural Compute Stick 2" class="imagen" width="508" height="400">Intel Neural Compute Stick 2
                        </a>
                    </td>
                </tr>
            </table>
        </section>

        <br><br> 

        <section class="galeria">
            <h2>Computadoras Cuánticas</h2>
            <table>
                <tr>
                    <td>
                        <a href="../assets/img/productos/CC_01.jpg" data-lightbox="galeria2" data-title="IBM Quantum System One: Computadora cuántica para investigación y desarrollo avanzado.">
                            <img src="../assets/img/productos/CC_01.jpg" alt="NVIDIA DGX A100" class="imagen" width="1024" height="536">IBM Quantum System One
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/CC_02.jpg" data-lightbox="galeria2" data-title="D-Wave Advantage: Computadora cuántica especializada en optimización y simulación.">
                            <img src="../assets/img/productos/CC_02.jpg" alt="Google Coral Dev Board" class="imagen" width="1000" height="563">D-Wave Advantage
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/CC_03.jpg" data-lightbox="galeria2" data-title="Rigetti Aspen-9: Computadora cuántica con arquitectura de qubits superconductores.">
                            <img src="../assets/img/productos/CC_03.jpg" alt="Intel Neural Compute Stick 2" class="imagen" width="6200" height="8272">Rigetti Aspen-9
                        </a>
                    </td>
                </tr>
            </table>
        </section>

        <br><br> 

        <section class="galeria">
            <h2>Tecnología de Energía Renovable</h2>
            <table>
                <tr>
                    <td>
                        <a href="../assets/img/productos/ER_01.jpg" data-lightbox="galeria3" data-title="Tesla Powerwall: Batería de almacenamiento de energía solar para el hogar.">
                            <img src="../assets/img/productos/ER_01.jpg" alt="Tesla Powerwall" class="imagen" width="2880" height="1800">Tesla Powerwall
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/ER_02.jpg" data-lightbox="galeria3" data-title="LG Chem RESU: Batería compacta y eficiente para sistemas solares residenciales.">
                            <img src="../assets/img/productos/ER_02.jpg" alt="Google Coral Dev Board" class="imagen" width="458" height="458">LG Chem RESU
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/ER_03.jpg" data-lightbox="galeria3" data-title="SunPower Solar Panels: Paneles solares de alta eficiencia para maximizar la producción de energía.">
                            <img src="../assets/img/productos/ER_03.jpg" alt="Intel Neural Compute Stick 2" class="imagen" width="2560" height="1920">SunPower Solar Panels
                        </a>
                    </td>
                </tr>
            </table>
        </section>

        <br><br> 
        
        <section class="galeria">
            <h2>Impresoras 3D</h2>
            <table>
                <tr>
                    <td>
                        <a href="../assets/img/productos/IP_01.jpg" data-lightbox="galeria4" data-title="Creality Ender 3: Impresora 3D asequible y fácil de usar para principiantes.">
                            <img src="../assets/img/productos/IP_01.jpg" alt="NVIDIA DGX A100" class="imagen" width="829" height="1000">Creality Ender 3
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/IP_02.jpg" data-lightbox="galeria4" data-title="Prusa i3 MK3S+: Impresora 3D de alta calidad con características avanzadas.">
                            <img src="../assets/img/productos/IP_02.jpg" alt="Google Coral Dev Board" class="imagen" width="1500" height="1575">Prusa i3 MK3S+
                        </a>
                    </td>
                    <td>
                        <a href="../assets/img/productos/IP_03.jpg" data-lightbox="galeria4" data-title="Anycubic Photon Mono X: Impresora 3D de resina con alta precisión y velocidad.">
                            <img src="../assets/img/productos/IP_03.jpg" alt="Intel Neural Compute Stick 2" class="imagen" width="458" height="458">Anycubic Photon Mono X
                        </a>
                    </td>
                </tr>
            </table>
        </section>
    </main>
    
    <!-- Sección Footer -->
    <footer>
        <div id="footer-contenido">
            <div id="redes-sociales">
                <a href="https://www.facebook.com" target="_blank"><img src="../assets/icons/facebook.png" alt="Facebook" width="45" height="45"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="../assets/icons/twitter.png" alt="Twitter" width="45" height="45"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="../assets/icons/instagram.png" alt="Instagram" width="45" height="45"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="../assets/icons/linkedin.png" alt="LinkedIn" width="45" height="45"></a>
                <a href="https://maps.app.goo.gl/9bQyX8vTD6aa91fb9" target="_blank"><img src="../assets/icons/google_maps.png" alt="Google_Maps" width="45" height="45"></a>
            </div>

            <div id="datos-empresa">
                <p>Dirección: C. Bari, 4, 50197 Zaragoza, España</p>
                <p>Teléfono: +34 123 456 789</p>
                <p>Email: contacto@luistech.com</p>
            </div>
            <div id="aviso-legal">
                <a href="../views/aviso_legal.html">Aviso Legal</a>
            </div>
        </div>
    </footer>

    
    <!-- Scripts Galeria -->
    <script src="../js/lightbox-plus-jquery.js"> </script>
    <script src="../js/productos.js"></script>

</body>
</html>
